<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon--github">
                <svg viewBox="0 0 16 16">
                  <path fill="#828282" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
                </svg>
              </span>

              <span class="username">Github</span>
            </a>
          </li>
          {% endif %}
          {% if site.linkedin_url %}
          <li>
            <a href="{{ site.linkedin_url }}">
              <span class="icon  icon--linkedin">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA6klEQVQ4T82T4U3DMBSE77xA2YCM0G5QJoANgBE6QOxnZwAYIWxQJiBMQDYgI3QCH7JQUAAhRe4fTrIsWb7vvbP1GGM8krxGnY5MKanO++n6CXgFsAWwWQtdAu69972ZNc659xrAwXv/aGZb59xbDQCSRpIlwmp9RZD05JzrJRXAA4ADyTHnfFP2OR5JI3k7V1gCYgjBuq7bS3ohedW27WBmF2Z2WraUUpoAXH77BUl/ARqS5U2mEMKumGKMpYuwCrC8nHPemdlYDZhj/VMAgIHkIKkBcAegJzlJ2gMoq+jX2fnDdM44S3r+AHlM3L8fFwzDAAAAAElFTkSuQmCC"/>
                </svg>
              </span>

              <span class="username">LinkedIn</span>
            </a>
          </li>
          {% endif %}
          {% if site.vimeo_url %}
          <li>
            <a href="{{ site.vimeo_url }}">
              <span class="icon  icon--vimeo">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABQ0lEQVQ4T6VSYVnDQAzNOwVDAUXBhoOigKEAUAAI6CXXGgAFgIINB0XBhoPhYAoufOl3he7a/iI/X5KXl7yA/hnI+0VkZZiI7CdyC+fcEkCpqq33/vOXQEQK59wrEZXWCOCmqqptT9I0TRlj3ABY9Jiqho5gJrln5sukpgCwGzYbrqpH1HV9R0Q2eRQxxjMROYYQngGsieg8L4IlieiYZPOwAMBVVVVtj4UQtgCuBzV/NzCwrutDNuXJe28DupgguD9xIUl9GBzpnZltRXNl5ZzbDaZ/e++LE4K8SFUPzHyR1Jmty56gX2/0B/kaAERVCyLqlKTrB2aW7m75VUMIbwBup1xJzR/MbI50MSJommatqpsZgq8YY2nWzhLMuGHwqHlSgYG5ClV9YebHKVWjFfoie287XoyxFRH7j8mYJZhryPEfjsqgN8XWCNQAAAAASUVORK5CYII="/>
                </svg>
              </span>
              <span class="username">Vimeo</span>
            </a>
          </li>
          {% endif %} 
          {% if site.keybase_username %}
          <li>
            <a href="https://keybase.io/{{ site.keybase_username }}">
              <span class="icon icon--keybase">
                <svg viewBox="0 0 16 16">
                </svg>
              </span>
              <span class="username">Keybase</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>


      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

  <script src="/js/fade.js" type="text/javascript" />

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
            Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44676916-3', 'auto');
    ga('send', 'pageview');

  </script>

</footer>
